{{!< default}}

<main class="site-main">

    {{#post}}

    <article class="gh-article {{post_class}}">

        <header class="gh-article-header gh-canvas">
            <span class="gh-article-meta"{{#if primary_tag.accent_color}} style="--tag-color: {{primary_tag.accent_color}};"{{/if}}>
                {{#primary_author}}por <a href="{{url}}">{{name}}</a>{{/primary_author}}
                {{#if primary_tag}}
                    en la categoría 
                    <a class="gh-article-tag" href="{{primary_tag.url}}">{{primary_tag.name}}</a>
                {{/if}}
                —
                <time datetime="{{date format="DD-MM-YYYY"}}">{{date}}</time>
            </span>
            

            <h1 class="gh-article-title">{{title}}</h1>

            {{#if custom_excerpt}}
                <p class="gh-article-excerpt">{{custom_excerpt}}</p>
            {{/if}}

            {{> "post-image"}}
        </header>

        <div class="gh-content gh-canvas">
            {{content}}
        </div>

    </article>

    {{> "post-navigation"}}

    {{!-- {{#if comments}}
        <div class="gh-comments gh-canvas">
            {{comments title="Eres trve dark? Entonces... debes registrarte y comentar." mode="dark" excerpt_length="50" author_avatar="true" limit="5"}} 
        </div>
    {{/if}} --}}
        <div class="gh-comments gh-canvas">
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                this.page.url = "{{canonical_url}}";  
                this.page.identifier = "ghost-{{comment_id}}";
                };
                (function () { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://elclaustrocl.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by
                    Disqus.</a>
            </noscript>
        </div>
    {{/post}}

    {{#if @custom.show_related_posts}}
        {{> "related-posts"}}
    {{/if}}

</main>